# vim:ft=toml

{{ if ne .chezmoi.os "darwin" }}
[".local/share/omarchy"]
    type = "git-repo"
    url = "https://github.com/basecamp/omarchy.git"

# Third-party Omarchy Shell Plugins managed declaratively
[".config/omarchy/plugins/Mirador"]
    type = "git-repo"
    url = "https://github.com/sanjyay/Mirador.git"
    refreshPeriod = "168h"
{{ end }}