**/vim/dotfiles/vim/bundle/*
**/brew/*.lock.json
**/gnupg/gpg-agent.conf

__pycache__/
*.pyc

**/git/gitconfig.local.symlink
**/vscode/syncLocalSettings.json

**/fcitx5/conf/cached_layouts

ssh/
**/zsh/local.zsh

.tool-versions

# omarchy backup files
*.bak.*

.scratch/

# ghostty-wrapper
dot_config/ghostty/fonts/
dot_config/ghostty/keybinds/
dot_config/ghostty/platform/
dot_config/ghostty/presets/
dot_config/ghostty/themes/
dot_config/ghostty/tmux/
dot_config/ghostty/executable_gconfig

# external dependencies
vendor/
