**/vim/dotfiles/vim/bundle/*
**/brew/*.lock.json
**/gnupg/gpg-agent.conf

**/git/gitconfig.local.symlink
**/vscode/syncLocalSettings.json

**/fcitx5/conf/cached_layouts

ssh/
**/zsh/local.zsh

.tool-versions
