{"ignoreUploadFiles":["projects.json","projects_cache_git.json"],"ignoreUploadFolders":["workspaceStorage"],"replaceCodeSettings":{},"gistDescription":"Visual Studio Code Settings Sync Gist","version":281,"token":"GITHUB_ACCESS_TOKEN"}